<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Dashboard</title>
      <link rel="stylesheet" href="/static/styles.css">
      <link rel="stylesheet" href="/static/dashboard/style.css">
   </head>
   <body>
      <div class="container">
         <h1>Dashboard</h1>
         <nav>
            <a href="/upload">Upload Files</a>
            <a href="/notifications">Overview</a>
            <a href="/compare">Compare PDFs</a> <!-- Added Compare PDFs button -->
         </nav>
         <form id="keyword-form">
            <div style="margin-bottom: 20px;">
               <span>Default Keywords</span>
               <label class="switch">
               <input type="checkbox" id="keyword-toggle">
               <span class="slider"></span>
               </label>
               <span>Enter Manually</span>
            </div>
            <div id="manual-keywords">
               <div id="primary-keywords-container">
                  <label for="primary-keyword-input">Primary Keywords:</label>
                  <input type="text" id="primary-keyword-input" name="primary_keywords[]" placeholder="Enter primary keywords, semicolon-separated">
               </div>
               <div style="margin-bottom: 15px;"></div>
               <!-- Add space here -->
               <div id="secondary-keywords-container">
                  <label for="secondary-keyword-input">Secondary Keywords:</label>
                  <input type="text" id="secondary-keyword-input" name="secondary_keywords[]" placeholder="Enter secondary keywords, semicolon-separated">
               </div>
            </div>
            <div class="buttons" style="display: flex; justify-content: center;">
               <button type="submit">Submit</button>
            </div>
            <button type="button" id="toggle-keywords" style="display: block; margin-left: auto; margin-top: 20px;">Show Keywords</button>
         </form>
         <div id="current-keywords" style="display: none;">
            <div class="keyword-section">
               <div>
                  <h3>Primary Keywords</h3>
                  <ul id="primary-keywords-list"></ul>
               </div>
               <div>
                  <h3>Secondary Keywords</h3>
                  <ul id="secondary-keywords-list"></ul>
               </div>
            </div>
         </div>
      </div>
      <script src="/static/dashboard/dashboard.js"></script>
   </body>
</html>
