<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual Compare</title>
    <link rel="stylesheet" href="/static/manual_compare/style.css">
</head>
<body>
    <div class="container">
        <div class="top-left">
            <select id="clearDropdown" onchange="handleClear(this)">
                <option value="">Select Clear Action</option>
                <option value="clear_compare_img">Clear Manual Compare IMGs</option>
            </select>
        </div>
        <div id="controls">
            <button class="buttonIMG" id="prev-button">Prev</button>
            <div id="image-container">
                <div class="image-wrapper">
                    <h2>Baseline</h2>
                    <img id="original-image" src="" alt="Baseline">
                </div>
                <div class="image-wrapper">
                    <h2>Changes</h2>
                    <img id="bounding-box-image" src="" alt="Changes">
                </div>
            </div>
            <button class="buttonIMG" id="next-button">Next</button>
        </div>
        <button id="fullscreen-button">Fullscreen</button>
        <a id="back-button" href="/compare">Back</a>
        <div class="message" id="message"></div>
    </div>

    <!-- Fullscreen container -->
    <div id="fullscreen-container" class="fullscreen-container">
        <div class="fullscreen-controls">
            <button id="fullscreen-prev-button">❮</button>
            <button id="fullscreen-next-button">❯</button>
        </div>
        <div class="image-wrapper">
            <img id="fullscreen-original-image" src="" alt="Baseline">
        </div>
        <div class="image-wrapper">
            <img id="fullscreen-bounding-box-image" src="" alt="Changes">
        </div>
    </div>

    <script src="/static/manual_compare/manual_compare.js"></script>
<script>
    function handleClear(selectElement) {
            const action = selectElement.value;
            if (action) {
                let url;
                if (action === 'clear_compare_img') {
                    url = '/clear_compare_img';
                }

                if (url) {
                    let xhr = new XMLHttpRequest();
                    xhr.open('POST', url);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.onload = () => {
                        let message = document.getElementById('message');
                        if (xhr.status === 200) {
                            let response = JSON.parse(xhr.responseText);
                            if (response.status === 'success') {
                                message.innerHTML = `<div class="notification-item"><span class="notification-text"><strong>Compare IMGs cleared successfully.</strong></span></div>`;
                            } else {
                                message.innerHTML = `<div class="notification-item"><span class="notification-text"><strong>Failed to clear ${action.replace('clear_', '').replace('_img', '').replace('_', ' ')}.</strong></span></div>`;
                            }
                        } else {
                            message.innerHTML = `<div class="notification-item"><span class="notification-text"><strong>Request failed</strong></span></div>`;
                        }
                    };
                    xhr.send();
                }
            }
        }
</script>
</body>
</html>
