<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="static/notifications/style.css">
</head>
<body>
    <div class="container">
        <div class="top-left">
            <button onclick="window.open('{{ url_for('report') }}', '_blank')">View HTML Report</button> <!-- New button to view the HTML report -->
        </div>
        <div class="top-right">
            <button onclick="location.href='{{ url_for('download_all') }}'">Download All Files</button>
        </div>
        <h1>Overview</h1>
        <nav class="centered-nav">
            <a href="/dashboard">Dashboard</a>
            <a href="/upload">Upload Files</a>
        </nav>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Date Processed</th>
                        <th>Sig</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notification in notifications %}
                    <tr>
                        <td class="message">{{ notification.message }}</td>
                        <td>{{ notification.timestamp }}</td>
                        <td>{{ notification.signature }}</td>
                        <td>
                            {% if notification.download_link %}
                            <a class="download-btn" href="{{ url_for('download_file', filename=notification.download_link) }}" download>Download</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            {% if page > 1 %}
            <a href="?page={{ page - 1 }}">&laquo; Previous</a>
            {% endif %}
            {% for p in range(1, total_pages + 1) %}
            <a href="?page={{ p }}" class="{{ 'active' if p == page else '' }}">{{ p }}</a>
            {% endfor %}
            {% if page < total_pages %}
            <a href="?page={{ page + 1 }}">Next &raquo;</a>
            {% endif %}
        </div>
        <div class="centered-button">
            <button onclick="exportFileNames()">Export File Names</button>
        </div>
    </div>
    <script src="/static/notifications/notifications.js"></script>
</body>
</html>
