<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload PDF Files</title>
    <link rel="stylesheet" href="/static/upload/style.css">
</head>
<body>
<div class="container">
    <h1>Upload PDF Files</h1>
    <button class="top-right-button" id="clearUploadDirBtn">Clear Upload Directory</button>
    <nav>
        <a href="/dashboard">Dashboard</a>
        <a href="/notifications">Overview</a>
    </nav>
    <div id="drop-area">
        <p>Drag and drop files here or click to upload</p>
        <input type="file" id="fileElem" name="files" multiple>
    </div>
    <button id="uploadBtn" onclick="uploadFiles()">Upload</button>
    <div class="message" id="message" style="text-align: center;"></div>

    <div class="section-title" id="upload-message" style="display: none;"></div>
    <div class="progress-bar" id="progress-bar">
        <div class="progress-bar-fill" id="progress-bar-fill"></div>
    </div>

    <div class="section-title" id="processing-message" style="display: none;"></div>
    <div class="progress-bar" id="processing-progress-bar" style="display: none;">
        <div class="progress-bar-fill" id="processing-progress-bar-fill"></div>
    </div>

    <div class="pagination" id="pagination">
        <a href="javascript:void(0)" id="prevPage">Previous</a>
        <span id="pageIndicator">Page 1</span>
        <a href="javascript:void(0)" id="nextPage">Next</a>
    </div>
    <div style="margin-bottom: 20px;"></div>
</div>
<script src="/static/script.js"></script>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>

</body>
</html>
